<body class="{{ data.story_id}}">
  <header>
    <div class="row">
      <div class="col s12">
        <h4>
          <a href="/">{{ data.story_id }}</a>
        </h4>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="main-box col s12">
        <div class="container">
          <div class="row">
           <div class="col s12"> 
             <p>Read through the story below. Once you have read through, choose the button for the direction that you'd like
             to continue writing the story.</p>
           </div>
         </div>
         <div class="row">
           <div class="col s12">
             <p class="{{ data.story_id}}-maintext">
              {{ data.page_text }}
            </p>
          </div>
        </div>
        <form action="/" method="get">
          <div class="row ">
            <div class="col s9 right-align">
              <span>{{ data.page_choice_text1 }}</span>
            </div>
            <div class="col s3 left-align btn {{ data.story_id}}-button">
              <button class="transparent" formaction="/nextpage/{{ data.story_id}}/{{ data.page_id }}/{{data.page_choice1}}" type="submit">Go here!</button> 
            </div>
          </div>

          <div class="row">
            <div class="col s9 right-align">
              <span>{{ data.page_choice_text2 }}</span>
            </div>
            <div class="col s3 left-align btn {{ data.story_id}}-button">
              <button class="transparent" formaction="/nextpage/{{ data.story_id}}/{{ data.page_id}}/{{data.page_choice1}}" type="submit">Go here!</button> 
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<footer class="page-footer transparent">
  <div class="row bottom">
    <div class="col l12 s12">
        <p class="white-text">Copyright &copy; 2017 Ross Blair. Michael Malley. Matt Sullivan. Melissa Webb. University of New Hampshire.</p>
      </div>
  </div>
</footer>
</body>